<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9b65ffff-de3b-4183-90d4-c5ee53903ed2/resourcegroups/GitHubIntegration20230125112558ResourceGroup/providers/Microsoft.Web/sites/GitHubIntegration20230125124833</ResourceId>
    <ResourceGroup>GitHubIntegration20230125112558ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://githubintegration20230125124833.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c034257e-3e56-45c5-9773-b2c0802fb768</ProjectGuid>
    <PublishUrl>https://githubintegration20230125124833.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GitHubIntegration20230125124833</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>