<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/9b65ffff-de3b-4183-90d4-c5ee53903ed2/resourcegroups/GitHubIntegration20230125112558ResourceGroup/providers/Microsoft.ContainerRegistry/registries/GitHubIntegration20230125122228</ContainerResourceId>
    <ContainerResourceName>GitHubIntegration20230125122228</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>githubintegration20230125122228.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://githubintegration20230125121914.scm.azurewebsites.net/</SCMUrl>
    <ResourceId>/subscriptions/9b65ffff-de3b-4183-90d4-c5ee53903ed2/resourcegroups/GitHubIntegration20230125112558ResourceGroup/providers/Microsoft.Web/sites/GitHubIntegration20230125121914</ResourceId>
    <ResourceGroup>GitHubIntegration20230125112558ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://githubintegration20230125121914.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c034257e-3e56-45c5-9773-b2c0802fb768</ProjectGuid>
  </PropertyGroup>
</Project>